
    /*LOGIN*/
    
 

	.login > form {
  height: auto;
  padding: 5%;
  border-radius: 15px;
  margin-top: 10vh;
  background-color: rgb(0,0,255); opacity: 0.8;
}


.google {
  margin: 2%;
  margin-top: 2%;
}


.name-login {
  margin-top: 80px;
}

.modal-crea {
  margin-top: 5%;
  margin-bottom: 5%;
}


placeholder {
    color: black;
}


#login {
  background-image: url("../images/img-background.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  }
  
  